$body-background-color: $grey-lt-000;
$sidebar-color: $grey-lt-200;
$border-color: $grey-lt-300;

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-200;

$search-result-preview-color: $grey-dk-000;

$link-color: $red-300;
$btn-primary-color: $red-200;
$nav-child-link-color: $red-300;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-100;
$code-text-color: $grey-lt-000;

$search-background-color: $grey-dk-250;

$table-background-color: $grey-dk-250;
